/* - - - - MASTER - - - - */
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Lobster+Two");
@import url("https://fonts.googleapis.com/css?family=Acme");
/* - - - - VARIABLES - - - - */
/* COLORS */
/* FONTS */
/* Font family */
/* Sizes */
/* Shadow */
/* - - - - NAVBAR - - - - */
/* - - - - MAIN - - - - */
body {
  background-image: url("../media/images/forest.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.wrapper {
  max-width: 1000px; }

.wrapper-2 {
  overflow-wrap: break-word;
  max-width: 500px; }

.all {
  display: grid;
  width: 100%;
  margin: auto;
  min-height: 100vh; }
  .all .section-1 {
    width: 90%;
    margin: auto;
    text-align: center; }
    .all .section-1 h1 {
      font-family: "Lobster Two", cursive, serif;
      font-size: 4.5em;
      text-shadow: 2px 2px #000000;
      color: #CE9A3A; }
  .all .section-1-2 {
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 1.5em; }
    .all .section-1-2 h2 {
      font-family: "Didact Gothic", sans-serif; }
    .all .section-1-2 form, .all .section-1-2 p, .all .section-1-2 input {
      font-family: "Acme", sans-serif; }
  .all h3 {
    font-family: "Acme", sans-serif; }
  .all .section-2 {
    margin: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    height: 8em;
    margin-bottom: 3em; }
  .all .section-2-1 h3, .all p {
    font-family: "Acme", sans-serif; }

input[type=text] {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px; }

button {
  padding: 10px 15px;
  background-color: #305E36;
  cursor: pointer;
  border-radius: 5px;
  color: #FFFFFF;
  margin-top: 1.5em; }

.paperwall {
  background-color: #CE9A3A;
  margin: auto;
  height: auto;
  width: 100vw; }
  .paperwall .text-paperwall {
    width: 80%;
    margin: auto;
    padding-top: 1em; }
    .paperwall .text-paperwall h2 {
      font-family: "Didact Gothic", sans-serif; }

.grid-item h2, .grid-item h3 {
  text-align: center; }

.grid-item p {
  text-align: left; }

#treasure {
  text-align: center; }
  #treasure img {
    width: 10em; }

button:hover {
  background-color: #CE9A3A; }

#outputtext {
  font-family: "Lobster Two", cursive, serif;
  color: #CE9A3A;
  font-size: 3em; }
