@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Lobster+Two');
/* - - - - VARIABLES - - - - */

/* COLORS */
$primary-color: #305e36;
$secondary-color: #4A2621;
$tertiary-color:#CE9A3A;
$quaternary-color: #000000;
$quinary-color: #FFFFFF;

/* FONTS */

/* Font family */
$font-main: 'Lobster Two', cursive, serif;
$font-second: 'Didact Gothic', sans-serif;

/* Font sizes */
$font-size-main: 6em;
$font-size-second: 2em;
$font-size-third: 1em;